:root {
  --pro-Color: #d6464659;
  --contra-Color: #3ee63e6e;
  --standard-font-size: 15px;
}
* {
  margin: 0;
  font-family: Helvetica, sans-serif;
}
main {
  width: 100vw;
  height: 100vh;
  background-color: rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textbox {
  width: 50%;
  height: 20%;
  margin-top: 20px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.proArgumentsContainer,
.contraArgumentsContainer {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
/* .ContraArgumentsContainer {
  width: 50%;
  height: 100%;
} */
.textarea {
  /* margin: 3%; */
  width: 85%;
  height: 80%;
  resize: none;
  padding: 3%;
  border-radius: 5px;
  border: 1px solid rgb(43, 43, 43);
  border-style: inset;
  font-size: var(--standard-font-size);
}
.pro .textarea {
  background-color: var(--pro-Color);
}
.contra .textarea {
  background-color: var(--contra-Color);
}
.thesis {
  font-size: 40px;
}
.proContraHead {
  display: flex;
  flex-direction: row;
  width: 80%;
  gap: 0%;
}
